body{
    font-family: 'Roboto', sans-serif;
}
nav {
    display: flex;
    height:50px;
    background-color: #4E4E4E;
    
    }

nav h1 {
    font-weight: bold;
    font-size: 18px;
    color:#FFFFFF;
}


.nav-links a {
    font-size: 18px;
    color:#F1F1F1;
    text-decoration: none;
     
}
  
.container {
    width: 960px;
    margin: 0 auto;
}
h1, h2 {
    font-weight: bold;
}

h1 {
    font-size: 36px;
    }
    
h2 {
    font-size: 18px;
    }

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.landing-page {
    height: 100vh;
    background:url(https://picsum.photos/id/0/1600/1050);
    background-position: center;
    background-position: cover;
}

.landing-page .container {
    display: flex;
    align-items: center;
    height:100%; 
}

.landing-page-shadow {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.3);
}
.landing-page-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 58%;
    height: 30%;
    color: white;
}


.landing-page-text a {
    border: 3px solid #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 5px 40px;
    text-decoration: none;

}
.about{

}
.about h1 {
    color: #152D41;
}